body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} 
.linktree-container {
    text-align: center;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 70%;
    min-width: 400px;
}
.profile-pic {
    width: max(7vh, 7vw);
    height: max(7vh, 7vw);
    border-radius: 50%;
    margin-bottom: 15px;
}
.btn-linktree {
    margin: 5px 0;
    width: 100%;
    text-decoration: none;
}
